:root {
    --color: #434455;
    --background-color: #fff;
    --nav-color: #2e2f42;
    --accent-color: #4d5ae5;
    --accent-color-hover: #404bbf;
    --accent-color-light: #f4f4fd; /* CLOUD */
    --accent-color-medium: #e7e9fc; /* CORNFLOWER */
}

/*COMMON BODY */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--color);
    background-color: var(--background-color);
}

.list-title {
    color: var(--nav-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.link:hover,
.link:focus,
.link.current {
    color: var(--accent-color);
}

ul {
    list-style-type: none;
}

.button-pointer {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* HEADER */
.logo {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1, 33;
    text-transform: uppercase;
    color: var(--nav-color);
}

.logo-accent {
    color: var(--accent-color);
}

/* FOOTER */
.logo-light {
    color: var(--accent-color-light);
}

.footer {
    color: var(--accent-color-medium);
    background-color: var(--nav-color);
}

/* INDEX MAIN */
.hero {
    text-align: center;
    background-color: var(--nav-color);
}

.hero-title {
    color: var(--background-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    color: var(--background-color);
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color-hover);
}

.section-title {
    color: var(--nav-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.section-bg {
    background-color: var(--accent-color-light);
}

.card {
    background-color: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    text-align: center;
}

/* PORTFOLIO MAIN */
.nav-menu {
    color: var(--nav-color);
    font-weight: 500;
}

.filter-button {
    color: var(--accent-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color-light);
    border: 1px solid var(--accent-color-medium);
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}
